.mainc {
  background-image: url("../../assets/Contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
  backdrop-filter: blur(10px);
}

.slideRight {
  animation-name: slideRight;
}

.slideTop {
  animation-name: slideTop;
}

.slideLeft {
  animation-name: slideLeft;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contact-information {
  width: 55%;
  padding: 2rem;
  text-align: center;
  animation-duration: 1s;
}

.contact-information h2 {
  font-size: 1.5rem;
}

.info {
  margin-top: 2rem;
}

.info .label {
  font-weight: bold;
}

.info .description {
  margin-top: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.details div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.details div span {
  margin-left: 0.5rem;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.social-media svg {
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
}

.information-form {
  width: 75%;
  padding: 2rem;
  text-align: center;
  animation-duration: 1s;
}

.information-form h2 {
  font-size: 1.5rem;
}

.information-form form {
  margin-top: 2rem;
}

.information-form input {
  width: 40%; /* Adjust the width as per your preference */
  margin-bottom: 1rem;
  padding: 0.5rem;
  margin-left: 10px;
  border-radius: 20px;
}


.information-form textarea {
  width: 80%;
  height: 4em; /* Adjust the height as needed */
  margin-bottom: 1rem;
  padding: 0.5rem;
  margin-left: 10px;
  border-radius: 20px;
  resize: none;
}

.information-form button {
  padding: 0.5rem 1rem;
  margin-left: 10px;
  border-radius: 20px;
  color: white;
  background-color: #055486;
}
