.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/login.jpg");
    background-size: cover;
    background-position: center;
  }
  
  
  .register-content {
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    animation: slideRight 1s ease-in-out;
    width: 300px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    
  }
  
  .register-form-group {
    margin-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  }
  
  .register-form-group label {
    text-align: left;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
  }
  
  .register-form-group input {
    /* width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; */
    margin-left: 10px;
  border-radius: 20px;
  }
  
  .register-form-group .register-btn {
    /* width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer; */
    animation: none; /* Remove the animation */
  width: 100%; 
  }
  
  .register-form-group .switch-btn {
    /* width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer; */
    animation: none; /* Remove the animation */
  width: 100%; 
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  