/* Learn.css */

/* Global styles */
.learnContainer {
  background-image: url("../../assets/Contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(15, 1, 1);
}

.keypoints-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  backdrop-filter: blur(10px);
}

.keypoint-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 200px;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(10px);
}

.keypoint-card h2 {
  font-size: 18px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.keypoint-card p {
  text-align: center;
}

.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.arrow button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow svg {
  width: 30px;
  height: 30px;
}
.slide-right {
  animation-name: slideRight;
}

.slide-top {
  animation-name: slideTop;
}

.slide-left {
  animation-name: slideLeft;
}

.slide-bottom {
  animation-name: slideBottom;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
